.before_footer
	.container
		.footer_line

footer
	.container
		.footer_col
			.copyright
				| Отправляя заявку с сайта Вы соглашаетесь на обработку персональных данных.
				br
				| ООО «Спорт режим». Все права защищены. (с) 2013-2020
			a(href="/")
				img.logo(src="https://profootball.su/img/logo.png")
		.footer_col
			strong.foot_title Информация
			ul
				li
					a(href="#") Тренерский состав
				li
					a(href="#") Стадионы
				li
					a(href="#") СМИ о нас
				li
					a(href="/fk-profutbol/") ФК Профутбол
				li
					a(href="/dogovor-oferty/") Договор оферты
			ul
				li
					a(href="/esli-vy-odin-ili-s-drugom/") Если Вы один или с другом
				li
					a(href="/korporativnym-komandam/") Корпоративным командам
				li
					a(href="/event-agenstvam/") Event-агентствам
				li
					a(href="#") Как начать?
				li
					a(href="/politika-konfidentsialnosti/") Политика конфиденциальности
		.footer_col.fc3
			strong.foot_title Свяжитесь с нами!
			div +7 (495) 001-38-27
			div
				span(style="display: none") +7 (495) 001-38-27
			div
				strong Почта:
				|  info@profootball.su
			div
				strong Адрес:
				|  г. Москва, ул. Плющиха, д.57
			.footer_soc
				a(target="_blank" href="https://www.facebook.com/profootball.su/")
					.soc_icon
						i.fab.fa-facebook-square
				a(target="_blank" href="https://vk.com/profootballsu")
					.soc_icon
						i.fab.fa-vk
				a(target="_blank" href="https://instagram.com/profootballfc")
					.soc_icon
						i.fab.fa-instagram
		.clearfix

.after_footer
	| Внимание! Информация на сайте не является публичной офертой. Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой,
	br
	| определяемой положениями ч. 2 ст. 437 Гражданского кодекса Российской Федерации. Для получения подробной информации о стоимости и сроках выполнения услуг, пожалуйста, обращайтесь к сотрудникам.
