header
	img.wave(src="/img/wave.png")
	.container
		.top_header
			.left
				.top_phone
					a(href="tel:+74950013827") +7 (495) 001-38-27
				.top_phone
					a(href="tel:+74950013827")
						span(style="display: none") +7 (495) 001-38-27
				.top_mail
					a(href="mailto:info@profootball.su")
						i.fas.fa-envelope
						|  info@profootball.su
			.right
				a(target="_blank" href="https://www.facebook.com/profootball.su/")
					.soc_icon
						i.fab.fa-facebook-square
				a(target="_blank" href="https://vk.com/profootballsu")
					.soc_icon
						i.fab.fa-vk
				a(target="_blank" href="https://instagram.com/profootballfc")
					.soc_icon
						i.fab.fa-instagram
			.clearfix
		.top_nav
			.top_logo
				a(href="https://profootball.su/")
					img(src="https://profootball.su/img/logo.png")
			.mobile_menu
				i.fas.fa-bars
			ul.top_menu.onlydesktop
				li
					a(href="/o-nas/")
						| О нас
						i.fas.fa-caret-down.fa-caret-right
					ul.top_menu2
						li
							a(href="/treners/") Тренерский состав
						li
							a(href="/stadiony/") Где тренируемся
						// <li><a href="#">СМИ о нас</a></li>
						li
							a(href="/fk-profutbol/") ФК Профутбол
				li
					a(href="/kak-nachat/")
						| Как начать?
						i.fas.fa-caret-down.fa-caret-right
					ul.top_menu2
						li
							a(href="/esli-vy-odin-ili-s-drugom/") Если Вы один или с другом
						li
							a(href="/korporativnym-komandam/") Корпоративным командам
						li
							a(href="/event-agenstvam/") Event-агентствам
				li
					a(href="/programma-trenirovok/") Программа тренировок
				li
					a(onclick="return false;" href="#")
						| Стадионы
						i.fas.fa-caret-down.fa-caret-right
					ul.top_menu2
						li
							a(href="/stadiony/burevestnik/") Буревестник
						li
							a(href="/stadiony/metallurg/") Металлург
						// <li><a href="/stadiony/luzhniki/">Лужники</a></li>
				li
					a(href="/raspisanie/") Расписание
				li
					a(onclick="return false;" href="#")
						| Цены
						i.fas.fa-caret-down.fa-caret-right
					ul.top_menu2
						li
							a(href="/abonementy/") Абонементы и разовые тренировки
						li
							a(href="/podarochnye-sertifikaty/") Подарочные сертификаты
				li
					a(href="/zapisatsya/") Записаться
			ul.top_menu.onlymobile
				li
					a(href="/o-nas/") О нас
				li
					a(href="/treners/") Тренерский состав
				li
					a(href="/stadiony/") Где тренируемся
				li
					a(href="/fk-profutbol/") ФК Профутбол
				li
					a(href="/kak-nachat/") Как начать?
				li
					a(href="/esli-vy-odin-ili-s-drugom/") Если Вы один или с другом
				li
					a(href="/korporativnym-komandam/") Корпоративным командам
				li
					a(href="/event-agenstvam/") Event-агентствам
				li
					a(href="/programma-trenirovok/") Программа тренировок
				li
					a(href="/stadiony/burevestnik/") Буревестник
				li
					a(href="/stadiony/metallurg/") Металлург
				// <li><a href="/stadiony/luzhniki/">Лужники</a></li>
				li
					a(href="/raspisanie/") Расписание
				li
					a(href="/abonementy/") Абонементы и разовые тренировки
				li
					a(href="/podarochnye-sertifikaty/") Подарочные сертификаты
				li
					a(href="/zapisatsya/") Записаться
			.right
				a.gradient.call.btn(href="#") Личный кабинет
		style.
			.home_header {
				background-image: url(/img/inner_page.png) !important;
				background-color: transparent !important;
				background-position: top center !important;
				height: 385px !important;
			}

			.wave {
				display: none !important;
			}
