// Fonts
$mainFont: 'DIN Pro', sans-serif;

// Colors
$white: #FFF;
$black: #000;
$gray-ee: #EEEEEE;
$gray-6f: #6F6F6F;
$light-green: #CDDB45;
$green: #008253;
$grass: #97d05c;

// Breakpoints
$tMin: 768px;
$dMin: 1024px;
$d1280: 1280px;