.button {
	display: block;
	width: 220px;
	height: 60px;
	background-color: $green;
	border-radius: 95px;
	font-size: 18px;
	font-weight: bold;
	color: $white;
	cursor: pointer;
	transition: all 0.3s ease;

	@media (min-width: 1024px) {
		&:hover {
			background-color: $grass;
			color: $black;
		}
	}

	&--light-green {
		background-color: $light-green;
		color: $black;
	}
}

.title {
	font-size: 34px;
	line-height: 36px;
	font-weight: bold;
	color: $green;
	text-align: center;
	margin-bottom: 19px;

	@media (min-width: $dMin) {
		font-size: 60px;
		line-height: 63px;
	}

	&--small {
		font-size: 36px;
		line-height: 38px;
	}
}
