a {
	text-decoration: none;
}

html,
body {
	/*overflow-x: hidden;
	overflow-y: visible;*/
	max-width: 100%;
	//height: 100%;
}
input, button {
    -webkit-appearance: none;
}

input,
button,
select,
textarea {
	font-family: $mainFont;
	font-size: 16px;
	line-height: 18px;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	outline: 0;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	color: #000000;
	background: #ffffff;
	font-family: $mainFont;
	font-size: 18px;
}

.main {
	flex-grow: 1;
}

footer,
.after_footer {
	position: relative;
	z-index: 10;
}

.container {
	box-sizing: border-box;
	width: 1175px;
	max-width: calc(100% - 60px);
	margin: 0 auto;
}

.dbr {
	display: none;

	@media (min-width: $dMin) {
		display: block;
	}
}

#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.fancybox-thumbs {
	top: auto;
	width: auto;
	bottom: 0;
	left: 0;
	right : 0;
	height: 95px;
	padding: 10px 10px 5px 10px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.3);
}

.fancybox-thumbs__list {
	margin: 0 auto;
}

.fancybox-show-thumbs .fancybox-inner {
	right: 0;
	bottom: 95px;
}

.fancybox-thumbs__list a {
	border-radius: 5px;
}

.fancybox-thumbs__list a::before {
	border: 3px solid #3c8ac9;
	border-radius: 5px;
}

.custom-dots {
	margin-top: 10px;
	width: 100%;
	display: flex !important;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;

	li + li {
		margin-left: 10px;
	}
	@media screen and (max-width:500px){
		display: none !important;
	}
}

.slick-active .custom-dot {
	background-color: $green;
}

.custom-dot {
	width: 15px;
	height: 15px;
	background-color: $white;
	border: 1px solid $green;
	border-radius: 50%;
	cursor: pointer;
	transition-duration: .2s;
	&:not(.slick-active){
		&:hover{
			background-color: transparentize($green, 0.5);

		}
	}
}
