.luzhniki {
	.first-screen {
		padding: 120px 0 100px;

		@media (min-width: $dMin) {
			padding: 331px 0 195px;
		}

		&__container {
			display: block;
		}

		&__bg::after {
			background: rgba(0, 0, 0, 0.3);
		}

		&__title {
			width: 100%;
			text-align: center;

			p:nth-child(2) {
				margin: 17px 0 31px;
			}
		}

		&__button {
			margin: 52px auto 0;
		}

		&__info {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
			padding: 60px 12px;
			position: relative;
			margin-top: 45px;
			margin-bottom: -435px;
			background-color: $white;
			box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
			border-radius: 0 0 153px 153px;
			box-sizing: border-box;
			overflow: hidden;

			@media (min-width: $tMin) {
				margin: 100px -25px -435px;
				left: 25px;
			}

			> img {
				position: absolute;
				bottom: 0;
				right: 16vw;
				width: 60%;
				opacity: 0.1;

				@media (min-width: 500px) {
					bottom: -10vw;
				}

				@media (min-width: $dMin) {
					bottom: -6vw;
					right: -9vw;
				}
			}
		}
	}

	.about-place {
		width: 100%;
		margin-bottom: 25px;
		position: relative;
		z-index: 1;

		@media (min-width: 500px) {
			width: calc(50% - 50px);
			margin: 0 25px 25px;
		}

		@media (min-width: $tMin) {
			width: calc(33.3333% - 50px);
		}

		@media (min-width: $dMin) {
			width: calc(25% - 50px);
		}

		&::before {
			@media (min-width: 500px) {
				content: '';
				display: block;
				width: 1px;
				height: 120px;
				background-color: $gray-6f;
				position: absolute;
				top: 34px;
				left: -25px;
			}
		}

		@media (min-width: 500px) and (max-width: 767px) {
			&:nth-child(2n+2)::before {
				display: none;
			}
		}

		@media (min-width: $tMin) and (max-width: 1023px) {
			&:nth-child(3n+2)::before {
				display: none;
			}
		}

		@media (min-width: $dMin) {
			&:nth-child(4n+2)::before {
				display: none;
			}
		}

		&__circle {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100px;
			height: 100px;
			margin: 0 auto;
			border: 2px solid rgba(111, 111, 111, 0.9);
			border-radius: 50%;

			svg {
				width: 65%;
				height: 65%;
			}
		}

		&__text {
			line-height: 22px;
			text-align: center;
			color: $gray-6f;
			margin-top: 20px;

			p:last-child {
				color: $green;
			}
		}
	}

	.program {
		&--place {
			padding-top: 370px;
			padding-bottom: 0;

			@media (min-width: $dMin) {
				padding-top: 311px;
			}

			.program {
				&__content {
					padding: 50px 0 35px;

					&::before {
						content: '';
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						background-color: $green;

						@media (min-width: $d1280) {
							border-top-right-radius: 100px 300px;
						}

						@media (min-width: 1700px) {
							border-top-right-radius: 900px 1000px;
						}
					}
				}

				&__text-title {
					font-size: 36px;
					line-height: 45px;
					font-weight: bold;
					color: $white;
					margin-bottom: 20px;
				}

				&__text p {
					font-size: 18px;
					line-height: 22px;
					color: $white;

					+ p {
						margin-top: 22px;
					}
				}

				&__picture {
					display: flex;
					flex-wrap: wrap;
					border-radius: 0;
					overflow: auto;
					padding-top: 23px;
					padding-left: 14px;

					@media (min-width: 550px) {
						margin: 0 -7.5px;
					}

					img {
						width: 100%;
						height: 218px;
						margin-bottom: 15px;

						@media (min-width: 550px) {
							width: calc(50% - 15px);
							margin: 0 7.5px 15px;
						}
					}
				}
			}
		}

		&--with-bg {
			padding: 30px 0;

			@media (min-width: $dMin) {
				padding: 100px 0;
			}

			.program {
				&__bg {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

					&::after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						background-color: rgba(255, 255, 255, 0.9);
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: bottom;
					}
				}

				&__content {
					background-color: transparent;
				}

				&__picture {
					border-radius: 0;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				&__picture-item {
					height: 170px;

					@media (min-width: 500px) {
						height: 270px;
					}

					@media (min-width: $tMin) {
						height: 500px;
					}

					@media (min-width: $dMin) {
						height: 370px;
					}
				}

				&__text-title {
					font-size: 24px;
					line-height: 26px;
					font-weight: bold;
					color: $green;
					margin-bottom: 20px;

					@media (min-width: $dMin) {
						font-size: 36px;
						line-height: 45px;
					}
				}

				&__text p {
					font-size: 18px;
					line-height: 22px;
					color: $green;

					+ p {
						margin-top: 22px;
					}
				}

				&__button {
					margin: 20px auto 0;

					@media (min-width: $dMin) {
						margin: 50px 0 0;
					}
				}
			}
		}
	}

	.video-block {
		height: 0;
		position: relative;
		padding-bottom: 55%;

		@media (min-width: $dMin) {
			padding-bottom: 36.45%;
		}

		iframe {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.advantages__subtitle {
		font-size: 18px;
		line-height: 22px;
	}

	.advantages--trainer {
		padding: 38px 0 50px;

		@media (min-width: 1500px) {
			padding: 38px 0 26px;
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: $green;

			@media (min-width: $d1280) {
				border-bottom-left-radius: 200px;
			}

			@media (min-width: 1700px) {
				border-bottom-left-radius: 500px;
			}
		}

		.title {
			font-size: 36px;
			font-weight: bold;
			color: $white;
			margin-bottom: 7px;
		}

		.advantages__subtitle {
			color: $white;
		}

		.trainer {
			margin-top: -10px;
		}

		.trainer-arrow {
			background-color: $white;

			svg {
				fill: $green;
			}
		}
	}

	.advantages--gallery {
		padding: 35px 0;

		@media (min-width: $dMin) {
			padding: 100px 0 85px;
		}
	}

	.advantages--feedback {
		padding-top: 35px;
		padding-bottom: 35px;

		@media (min-width: $dMin) {
			padding-top: 50px;
			padding-bottom: 150px;
		}

		.advantages {
			&__container {
				max-width: 700px;
				width: 100%;
				padding: 30px;
				padding-bottom: 80px;
				background-color: $white;
				box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
				border-radius: 0 0 153px 153px;

				@media (min-width: $dMin) {
					padding: 50px 57px 46px 30px;
				}
			}

			&__bg {
				&::after {
					background-color: rgba(255, 255, 255, 0.95);
				}

				img {
					object-position: bottom;
				}
			}
		}
	}

	.schedule {
		padding: 35px 0;

		@media (min-width: $dMin) {
			padding: 77px 0 100px;
		}

		&__subtitle {
			font-size: 18px;
			line-height: 22px;
			margin-top: 21px;
		}

		&__button {
			margin: 35px auto 0;

			@media (min-width: $dMin) {
				margin: 47px auto 0;
			}
		}
	}

	.table--schedule {
		margin: 17px -30px 50px;

		@media (min-width: $dMin) {
			margin: 17px -3px 50px;
		}

		table td {
			@media (min-width: $dMin) {
				&:nth-child(2) {
					width: 28.2%;
				}

				&:nth-child(3) {
					width: 21.8%;
				}

				&:last-child {
					width: auto;
				}
			}
		}
	}

	.table--price {
		margin-top: 15px;
	}

	.gallery {
		margin-top: 21px;
	}

	.gallery-item {
		border-radius: 0;
	}
}